<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75001478875-52p3p5bi404nej132hilg4l8bvcrjp8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75001478875-52p3p5bi404nej132hilg4l8bvcrjp8m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>75001478875-22d3014gs17hpnech3tjdjdb96dfppj6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7ab7hRrsSI6JbzUtK4YMH_k7fVu5LaH8</string>
	<key>GCM_SENDER_ID</key>
	<string>75001478875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alquilapp.test</string>
	<key>PROJECT_ID</key>
	<string>alquilapp-test-46600</string>
	<key>STORAGE_BUCKET</key>
	<string>alquilapp-test-46600.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75001478875:ios:44613c4c8070cac9a156fe</string>
</dict>
</plist>