<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919807496403-eq3vt310qfujdi3bcv9ftanr1mdgmjlm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919807496403-eq3vt310qfujdi3bcv9ftanr1mdgmjlm</string>
	<key>API_KEY</key>
	<string>AIzaSyCNf7RWGZGRcLWBt0BdJAXUS3oKw6aUuM8</string>
	<key>GCM_SENDER_ID</key>
	<string>919807496403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.altum.alquilapp</string>
	<key>PROJECT_ID</key>
	<string>alquilapp-416218</string>
	<key>STORAGE_BUCKET</key>
	<string>alquilapp-416218.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919807496403:ios:f2c0fdaa9de3889d044426</string>
</dict>
</plist>